@charset "UTF-8";

body{
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
    margin: 1em;
    background-color: #fff;
    width: 100%;
    overflow-wrap: break-word;
}

.title h3 {
    font-weight: 400;
}

.container content{
    display: flex;
}

.content{
    /* display: flex; */
    margin: 0.5em;
    padding: 0.5em;
}

.sidebar{
    background-color: #d6d6d6;
    padding: 1em;
    margin: 1em;
    display: block;
}

.content img {
    display: block;
    margin: 1em 4em 1em 4em;
    margin-left: 0.5em;
    width: 100%;
    height: 10em;
}

.costing{
    font-weight: bolder;
    text-shadow: -0.05em .07em rgb(170, 169, 169);
    font-size: medium;
}

.sidebar{
    margin:1em;
    padding: 1em;
}
.sidebar .aside_heading h2{
    color: rgb(1, 1, 71);
    text-shadow: -0.05em .1em rgb(170, 169, 169);
    text-align: center;
}

.sidebar .aside_body{
    margin: 5em;
    text-align: center;
}

.sidebar .aside_body .costing{
    /* font-weight: bolder;
    text-shadow: -0.05em .12em rgb(170, 169, 169); */
    font-size: large;
}

.sidebar .aside_body .small_char{
    color:rgb(170, 169, 169);
}

.sidebar .footer{
    /* margin-top: 10em; */
    padding: 7em 3em 3em 3em;
    /* padding-top: 7em; */
    margin: 0 2em 2em 2em;
    clip-path: polygon(7% 80%, 5% 81%, 2% 84%, 0 89%, 0 100%, 52% 100%, 100% 100%, 100% 89%, 99% 84%, 98% 82%, 95% 80%, 50% 69%);
    background-color: #6678f9;
    border-radius: 10%;
}

.sidebar .footer p{
    margin-bottom: -20em;
    text-align: center;
    color: #fff;
}

@media screen and (min-width: 650px){
    body{
        margin: 0;
        padding: 0;
        font-size: 12px;
        display: grid;
        grid-template-rows: 4% 32% 32% 32%;
        grid-template-columns: 65% 35%;
        grid-template-areas: 
        "header aside"
        "contentOne aside"
        "contentTwo aside"
        "contentThree aside";
    }

    .title{
        grid-area: header; 
    }
    .section_one{
        grid-area: contentOne;
        display: flex;
        
    }

    .container h3{
        display: inline-block;
    }
    .section_two{
        grid-area: contentTwo;
        display: flex;
    }
    .section_three{
        grid-area: contentThree;
        display: flex;
    }

    .inner_content{
        margin-left: -2em;
    }

    .inner_content p{
        margin: 0.2em 2em 0.2em 0.2em;

    }
    .sidebar{
        grid-area: aside;
    }

    .content img {
        min-height: 100%;
        padding: 1em;
    }

    .costing{
        display: block;
    }
    .costing .inline{
        font-size: 12px;
        font-weight: 100;
        text-shadow: none;
    }

    .sidebar{
        padding-top: 2em;
        margin-bottom: -5em;
        text-align: center;
    }

    
}